## file extensions
*.pyc
*.env

## folder
build/
venv-go-rxr/
venv-go-rxr-paper/
Tutorial/*.h5

# Ignore already tracked .pyc files
venv-go-rxr/lib/python3.7/site-packages/pkg_resources/__pycache__/*.pyc